@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --bs-body-font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: gray;
}

span {
  display: inline;
}

.ctext-grey {
  text-decoration: none;
  color: gray;
}

.shadow-cpink {
    box-shadow: 0 8px 16px 0 rgba(255, 65, 65, 0.755);
}